# Data munging with Pandas


## Introduction

Data rarely arrives in the form we need for analysis. In fact, it is has been estimated that data scientists spend 80% of their time preparing data. This process of integrating and filtering data is commonly know as data munging. 

This notebook contains exercises in using the Pandas package for data munging. The Pandas contains a widely used, powerful, flexible and efficient set of functions for data munging. Further, Pandas methods (operators) can be chained to define complex data munging

## Why Pandas?

As already stated Pandas is a powerful, flexible and efficient Python package, specifically designed for data munging. Additionally, Pandas has execellent graphics capabilities which are discussed in another lesson. 

Excellent documentation is available for the Pandas package:
- The index to the comprehensive Pandas documentation can be found at: http://pandas.pydata.org/pandas-docs/stable/index.html 
- A number of good Pandas tutorials are availble online, including the one on the Pandas official site: http://pandas.pydata.org/pandas-docs/stable/tutorials.html
- Wess McKinney, the author of Pandas, has written a book, *Python for Data Analysis*, which is a comprehensive resource for learning Pandas: http://shop.oreilly.com/product/0636920023784.do

## Data Frames and Series

The Python Pandas package is built on two data structures **series** and **data frames**. A series holds a single list of values, whereas a data frame is a two dimensional table. Before digging into any details, it will help to have a feel for these two data structures.

The code in the cell below creates a Pandas series from a Python list. Run this code and examine the results.

In [1]:
import pandas as pd
my_series = pd.Series([1, 2, 3, 4, 5, 6])
my_series

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

Notice the following properties of the Pandas series:

- The elements of the  series have labels or indices. In this case the default indicies are integers starting with `0`.
- The Pandas series is a one dimensional structure with some special attributes and methods.

The code in the cell below creates a Pandas data frame with three columns. Run this code and examine the results.

In [2]:
my_df = pd.DataFrame({'x': [1, 2, 3], 'y': [1, 4, 9], 'Strings': ['String 1', 'String 2', 'String 3']})
my_df

   x  y   Strings
0  1  1  String 1
1  2  4  String 2
2  3  9  String 3

Notice the following properties of the Pandas data frame:

- The data frame is a rectagular data structure with Python lists in the  columns.
- The columns can be of any Python data type, but are all of the same length.
- The rows and columns of the data frame have labels or indices. In this case the columnn lables are the ones specfied. The rows are the default integer indicies starting at '0'.
- The data frame is a two dimensional table with additional attirbutes and  methods.

## Load the Data Set

It is time to get started with some in-depth examples. The function shown in the cell below loads the data as a .csv file from Azure Machine Learning. Some minimal clean up is performed on the data. Rows with missing values are dropped and some columns are converted from strings containing numbers to numeric data. The code executes the following steps using Pandas:

- The for loop iterates over the list of numeric column labels (names). 
- These numeric columns are coded as character strings. If the string is coded as '?' indicating a missing value, that value is set to `numpy.nan`, a missing value.
- The pandas `drop_na` method is used to remove the rows with missing values. 
- The second loop uses the Pandas `to_numeric` method to convert the character string to numeric.

Details of using Pandas methods are discussed in the rest of this tutorial. 

Run the code in the cell below to prepare the data set.

In [5]:
# Commented out to use a local file
# from azureml import Workspace

# ws = Workspace()
# ds = ws.datasets['Automobile price data (Raw)']
# auto_prices = ds.to_dataframe()
auto_prices = pd.read_csv("Automobile price data (Raw).csv")

def clean_auto_data(auto_prices):
    'Function to load the auto price data set from a .csv file' 
    import pandas as pd
    import numpy as np
    
    ## Remove rows with missing values, accounting for missing values coded as '?'
    cols = ['price', 'bore', 'stroke', 
          'horsepower', 'peak-rpm']
    for column in cols:
        auto_prices.loc[auto_prices[column] == '?', column] = np.nan
    auto_prices.dropna(axis = 0, inplace = True)

    ## Convert some columns to numeric values
    for column in cols:
        auto_prices[column] = pd.to_numeric(auto_prices[column])
        
    return auto_prices

auto_prices = clean_auto_data(auto_prices)

## Explore the data frame

With the data frame loaded, you can now explore some aspects of the data set. You will use Pandas data frame attributes and methods. Like every Python object Pandas data frames have attributes and methods. The syntax for accessing or setting attributes is simple:

$$DataFrame.attribute$$

The code in the cell below uses the `columns` attribute to display the column labels of the data frame. Run this code to see the column labels.

In [6]:
auto_prices.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

Data frame methods are invoked using the same dot notation as you have just seen for attributes:

$$DataFrame.method\_name(arguments)$$

The Pandas `info` method provides a summary of the dimensions of the data set, the column names, and the data types of the columns. Run the code in the cell below and note the result.

In [7]:
auto_prices.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          195 non-null    int64
 1   normalized-losses  195 non-null    object
 2   make               195 non-null    object
 3   fuel-type          195 non-null    object
 4   aspiration         195 non-null    object
 5   num-of-doors       195 non-null    object
 6   body-style         195 non-null    object
 7   drive-wheels       195 non-null    object
 8   engine-location    195 non-null    object
 9   wheel-base         195 non-null    float64
 10  length             195 non-null    float64
 11  width              195 non-null    float64
 12  height             195 non-null    float64
 13  curb-weight        195 non-null    int64
 14  engine-type        195 non-null    object
 15  num-of-cylinders   195 non-null    object
 16  engine-size        195 non-null    int64
 17  fuel-system        195 non-null    object
 18  bore               195 non-null    float64
 19  stroke             195 non-null    float64
 20  compression-ratio  195 non-null    float64
 21  horsepower         195 non-null    int64
 22  peak-rpm           195 non-null    int64
 23  city-mpg           195 non-null    int64
 24  highway-mpg        195 non-null    int64
 25  price              195 non-null    int64
dtypes: float64(7), int64(8), object(11)
memory usage: 41.1+ KB

**Your Turn:** In the cell below create and execute the code to find the dimensions of the data frame using the `shape` attribute.

In [8]:
auto_prices.shape

(195, 26)

## Filter a Data Frame

Here is a first example to get you started with Pandas. The code below applies a Pandas filter to the auto pricing data. The result will only be the cases or rows of autos made by the Audi company. 

The syntax of the operation shown is simple. 

$$DataFrame[logical\_expresion]$$

A single column in a Pandas data frame can be addressed as either `DataFrame.column_name` or `DataFrame['column_name']`.

Execute the code in the cell below and note the result.

In [9]:
df = auto_prices[auto_prices.make == 'audi']
print(df)

   symboling normalized-losses  make fuel-type aspiration num-of-doors  \
3          2               164  audi       gas        std         four
4          2               164  audi       gas        std         four
5          2                 ?  audi       gas        std          two
6          1               158  audi       gas        std         four
7          1                 ?  audi       gas        std         four
8          1               158  audi       gas      turbo         four

  body-style drive-wheels engine-location  wheel-base  ...  engine-size  \
3      sedan          fwd           front        99.8  ...          109
4      sedan          4wd           front        99.4  ...          136
5      sedan          fwd           front        99.8  ...          136
6      sedan          fwd           front       105.8  ...          136
7      wagon          fwd           front       105.8  ...          136
8      sedan          fwd           front       105.8  ...          131

   fuel-system  bore  stroke compression-ratio horsepower  peak-rpm city-mpg  \
3         mpfi  3.19     3.4              10.0        102      5500       24
4         mpfi  3.19     3.4               8.0        115      5500       18
5         mpfi  3.19     3.4               8.5        110      5500       19
6         mpfi  3.19     3.4               8.5        110      5500       19
7         mpfi  3.19     3.4               8.5        110      5500       19
8         mpfi  3.13     3.4               8.3        140      5500       17

   highway-mpg  price
3           30  13950
4           22  17450
5           25  15250
6           25  17710
7           25  18920
8           20  23875

[6 rows x 26 columns]

## Basic Data Frame Operations

Now that you have some feel for Pandas data frames, you will explore some basic operations for manipulation of data frame.

### Take slices from the data frame

There are several methods for taking a subset or slice of a Pandas data frame. The basic approach is simply to use the following syntax:

$$DataFrame[start:end:stride]$$

There are defaults for all the index values; `start = 0`, `end = number of rows - 1`, and `stride = 1`. The code in the cell below uses two of these defaults to display the first 5 rows of the data frame. Run this code and examine the result.

In [10]:
auto_prices[:5]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

Notice that Pandas uses `0` based indexing. The first 5 rows are displayed. 

You can take an arbitrary slice from a data frame using this syntax. Run the code in the cell below and examine the result.

In [11]:
df_slice = auto_prices[9:14]
df_slice

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430
11,0,192,bmw,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16925
12,0,188,bmw,gas,std,two,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,20970
13,0,188,bmw,gas,std,four,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,21105
14,1,?,bmw,gas,std,four,sedan,rwd,front,103.5,...,164,mpfi,3.31,3.19,9.0,121,4250,20,25,24565

Keeping in mind that Pandas data frames use zero based indexing, notice the row indices of the resulting data fame range from 10 to 14. 

As an alternative the Pandas `iloc` method can be used to take a slice of rows from a data frame, as well. Run the code in the cell below and examine the result.

In [12]:
auto_prices.iloc[9:14]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430
11,0,192,bmw,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16925
12,0,188,bmw,gas,std,two,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,20970
13,0,188,bmw,gas,std,four,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,21105
14,1,?,bmw,gas,std,four,sedan,rwd,front,103.5,...,164,mpfi,3.31,3.19,9.0,121,4250,20,25,24565

**Your Turn:** In the cell below create and exectue the code to subset the data frame so that you extract every 10th row.

In [15]:
auto_prices[::10]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
11,0,192,bmw,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.80,101,5800,23,29,16925
21,1,118,dodge,gas,std,two,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.41,68,5500,37,41,5572
31,2,137,honda,gas,std,two,hatchback,fwd,front,86.6,...,92,1bbl,2.91,3.41,9.20,76,6000,31,38,6855
41,0,85,honda,gas,std,four,sedan,fwd,front,96.5,...,110,mpfi,3.15,3.58,9.00,101,5800,24,28,12945
53,1,113,mazda,gas,std,four,sedan,fwd,front,93.1,...,91,2bbl,3.03,3.15,9.00,68,5000,31,38,6695
67,-1,93,mercedes-benz,diesel,turbo,four,sedan,rwd,front,110.0,...,183,idi,3.58,3.64,21.50,123,4350,22,25,25552
77,2,161,mitsubishi,gas,std,two,hatchback,fwd,front,93.7,...,92,2bbl,2.97,3.23,9.40,68,5500,31,38,6189
87,1,125,mitsubishi,gas,turbo,four,sedan,fwd,front,96.3,...,110,spdi,3.17,3.46,7.50,116,5500,23,30,9279
97,1,103,nissan,gas,std,four,wagon,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.40,69,5200,31,37,7999
107,0,161,peugot,gas,std,four,sedan,rwd,front,107.9,...,120,mpfi,3.46,3.19,8.40,97,5000,19,24,11900
117,0,161,peugot,gas,turbo,four,sedan,rwd,front,108.0,...,134,mpfi,3.61,3.21,7.00,142,5600,18,24,18150
127,3,?,porsche,gas,std,two,hardtop,rwd,rear,89.5,...,194,mpfi,3.74,2.90,9.50,207,5900,17,25,34028
140,2,83,subaru,gas,std,two,hatchback,4wd,front,93.3,...,108,2bbl,3.62,2.64,8.70,73,4400,26,31,7603
150,1,87,toyota,gas,std,two,hatchback,fwd,front,95.7,...,92,2bbl,3.05,3.03,9.00,62,4800,35,39,5348
160,0,91,toyota,gas,std,four,sedan,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.00,70,4800,38,47,7738
170,2,134,toyota,gas,std,two,hardtop,rwd,front,98.4,...,146,mpfi,3.62,3.50,9.30,116,4800,24,30,11199
180,-1,90,toyota,gas,std,four,sedan,rwd,front,104.5,...,171,mpfi,3.27,3.35,9.20,156,5200,20,24,15690
190,3,256,volkswagen,gas,std,two,hatchback,fwd,front,94.5,...,109,mpfi,3.19,3.40,8.50,90,5500,24,29,9980
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.50,114,5400,23,28,16845

### loc, iloc and ix

At this point you may be wondering about how and when to use the `loc` and `iloc` methods. To add to the story there is the `ix` method. In simple terms these methods can be summarized as:

- The **`loc`** method allows subsetting a Pandas data frame by the labels (names) of rows and columns. Rows and columns can be spcified in a list, or by a range with a stride using the `:` operator. Note that the default row indices are integers starting at `0`.
- The **`iloc`** method allows subsetting a Pandas data frame using zero based integer positioning of rows and columns. Rows and columns can be spcified in a list, or by a range and stride using the `:` operator. 
- The **`ix`** method is a hybrid between `loc` and `iloc`. The indices can be the labels or the integer positions. While this flexibility can be useful, be careful when using  `ix`. There can be some ambiguity between labels and integer positions, particularly when using the default row and column labels.

Specifing ranges of rows and  columns with `loc` and `iloc` following a similar convention to that used for the data frame `[]` operator:

$$DataFrame.iloc[row-start\ : row-end\ : row-stride,\ column-start: column-end: column-stride]$$

Keep this convention in mind when doing any of these operations.

### Random sample a data frame

Data scientists often need randomly chosen subsets of data. The Pandas `sample` method can be used to sample a certain number of rows with the `n` argument, or a fraction of the rows using the `frac` argument. Run the code in the cell below to take a random sample of 5 rows data frame.

In [16]:
df_rand = auto_prices.sample(n = 5)
df_rand

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
62,0,115,mazda,gas,std,four,sedan,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,10245
161,0,91,toyota,gas,std,four,hatchback,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70,4800,28,34,8358
24,1,148,dodge,gas,std,four,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6229
182,2,122,volkswagen,diesel,std,two,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.0,52,4800,37,46,7775
13,0,188,bmw,gas,std,four,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,21105

**Your Turn:** In the cell below create and execute the code to randomly sample 5% of the rows in the data frame.

In [23]:
auto_prices.sample(frac = 0.05)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
147,0,89,subaru,gas,std,four,wagon,fwd,front,97.0,...,108,mpfi,3.62,2.64,9.0,94,5200,25,31,10198
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
65,0,118,mazda,gas,std,four,sedan,rwd,front,104.9,...,140,mpfi,3.76,3.16,8.0,120,5000,19,27,18280
163,1,168,toyota,gas,std,two,sedan,rwd,front,94.5,...,98,2bbl,3.19,3.03,9.0,70,4800,29,34,8058
114,0,?,peugot,diesel,turbo,four,wagon,rwd,front,114.2,...,152,idi,3.70,3.52,21.0,95,4150,25,25,17075
151,1,87,toyota,gas,std,two,hatchback,fwd,front,95.7,...,92,2bbl,3.05,3.03,9.0,62,4800,31,38,6338
190,3,256,volkswagen,gas,std,two,hatchback,fwd,front,94.5,...,109,mpfi,3.19,3.40,8.5,90,5500,24,29,9980
198,-2,103,volvo,gas,turbo,four,sedan,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18420
39,0,85,honda,gas,std,four,sedan,fwd,front,96.5,...,110,1bbl,3.15,3.58,9.0,86,5800,27,33,8845
116,0,161,peugot,diesel,turbo,four,sedan,rwd,front,107.9,...,152,idi,3.70,3.52,21.0,95,4150,28,33,17950

### Select column from data frame

As with the selection of rows, there are several useful methods to select columns with Pandas. 

A single column can be selected by name. Run the code in the cell below and examine the result.

In [24]:
df['price']

3    13950
4    17450
5    15250
6    17710
7    18920
8    23875
Name: price, dtype: int64

Notice that only the values of the price column have been selected.

If you wish to select multiple columns by name, place the names of the columns in a list. Execute the code in the cell below and examine the results.

In [25]:
df_2 = df[['drive-wheels', 'wheel-base', 'curb-weight', 'horsepower', 'price']]
df_2

  drive-wheels  wheel-base  curb-weight  horsepower  price
3          fwd        99.8         2337         102  13950
4          4wd        99.4         2824         115  17450
5          fwd        99.8         2507         110  15250
6          fwd       105.8         2844         110  17710
7          fwd       105.8         2954         110  18920
8          fwd       105.8         3086         140  23875

You can see that the subset of the data frame includes only the columns named in the list.

Alternatively, you can use the Pandas `loc` method to subset a list of columns by name. The code in the cell below uses the following syntax:

$$DataFrame.loc[:,\ list\_of\_column\_names]$$

Within the square bracket of this line of code the range of rows is specified with `:` using the default value for all rows, followed by a comma separator, and then a list of column names. Since all rows are selected the `:` separator is used without specifing a start and end.

Execute this code and examine the results.

In [26]:
df.loc[:, ['drive-wheels', 'wheel-base', 'curb-weight', 'horsepower', 'price']]

  drive-wheels  wheel-base  curb-weight  horsepower  price
3          fwd        99.8         2337         102  13950
4          4wd        99.4         2824         115  17450
5          fwd        99.8         2507         110  15250
6          fwd       105.8         2844         110  17710
7          fwd       105.8         2954         110  18920
8          fwd       105.8         3086         140  23875

Examine the results and notice that they are the same as before. 

But, what if you just want to delete a few rows and don't want to type a long list of the column names you wish to keep? Then, you can use the Pandas `drop` method. The drop method will work on rows, `axis = 0`, or columns, `axis = 1`. Run the code in the cell below to remove the three columns, with labels in the list, from the data frame.

In [27]:
df_drop = df.drop(['symboling', 'normalized-losses', 'engine-size'], axis = 1)
df_drop

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,num-of-cylinders,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
3,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,four,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,five,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
5,audi,gas,std,two,sedan,fwd,front,99.8,177.3,66.3,...,five,mpfi,3.19,3.4,8.5,110,5500,19,25,15250
6,audi,gas,std,four,sedan,fwd,front,105.8,192.7,71.4,...,five,mpfi,3.19,3.4,8.5,110,5500,19,25,17710
7,audi,gas,std,four,wagon,fwd,front,105.8,192.7,71.4,...,five,mpfi,3.19,3.4,8.5,110,5500,19,25,18920
8,audi,gas,turbo,four,sedan,fwd,front,105.8,192.7,71.4,...,five,mpfi,3.13,3.4,8.3,140,5500,17,20,23875

Notice that the data frame now has 23 columns, 3 less than the original data frame.

**Your Turn:** Use the Pandas `iloc` method to select the first 5 columns of the `df` data frame.

In [38]:
df.iloc[:, :5]

   symboling normalized-losses  make fuel-type aspiration
3          2               164  audi       gas        std
4          2               164  audi       gas        std
5          2                 ?  audi       gas        std
6          1               158  audi       gas        std
7          1                 ?  audi       gas        std
8          1               158  audi       gas      turbo

### Sort a data frame 

Data scientist often need to sort the rows or columns in a data set by the values of one or more columns or rows. The Pandas `sort_values` method does just this. You can use the `sort_values` method to sort columns, `axis = 1`, or rows,`axis = 0`. The default is to sort in assending order. 

Run the code in the cell below to sort the data frame first by drive wheels type and then by price.

In [15]:
df_sort = df_2.sort_values(by = ['drive-wheels', 'price'], axis = 0)
df_sort

  drive-wheels  wheel-base  curb-weight  horsepower  price
4          4wd        99.4         2824         115  17450
3          fwd        99.8         2337         102  13950
5          fwd        99.8         2507         110  15250
6          fwd       105.8         2844         110  17710
7          fwd       105.8         2954         110  18920
8          fwd       105.8         3086         140  23875

The data frame is now sorted first by drive wheels and then by price.

**Your Turn:** In the cell below create and exectue the code to sort the `df_2` data frame in decending order, first by drive wheels and then by housepower. Hint, use the `ascending=False` argument.

## Computing on Data Frames

You have learned some of the basic Pandas methods for manipulating data frames. You will now explore methods for computing on data frames.

### Compute new columns

Very often data scientist need to transform columns in a data frame. Pandas provides simple and powerful facilities for computing new columns or substituting transformed values in the existing columns of a data frame. 

In many cases, you will will want to append a new column to an existing data frame. The alternative is to create a new copy of the data frame. To prevent making unexpected copy of the data frame use the `loc` or `iloc` methods to append the column to the existing data frame. 

The code in the cell below uses the Pandas `divide` method to compute the curb weight of the autos in killograms. Notice the use of the `loc` method on the left side of the `=` symbol, which ensures the new column is appended to the existing `df_2` data frame. Run this code and examine the result. 

****
**Note:** You may get a copy warning message the first time you run this code. This warning is misleading in this case, and can be safely ignored.

In [16]:
df_2.loc[:, 'curb-weight-kg'] = df_2['curb-weight'].divide(2.205)
df_2

/home/nbuser/anaconda2_20/lib/python2.7/site-packages/pandas/core/indexing.py:296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/home/nbuser/anaconda2_20/lib/python2.7/site-packages/pandas/core/indexing.py:476: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

  drive-wheels  wheel-base  curb-weight  horsepower  price  curb-weight-kg
3          fwd        99.8         2337         102  13950     1059.863946
4          4wd        99.4         2824         115  17450     1280.725624
5          fwd        99.8         2507         110  15250     1136.961451
6          fwd       105.8         2844         110  17710     1289.795918
7          fwd       105.8         2954         110  18920     1339.682540
8          fwd       105.8         3086         140  23875     1399.546485

Examine the results above and notice the new column with the computed values has been appended to the data frame. 

In some cases, you may wish to replace the values in an existing column with new transformed values. You can use the `loc` and `iloc` methods to do just this. 

When a single column is selected from a data frame the result is a Pandas series. The Pandas `apply` operator is used to compute the transformed values of the series. 

If a transformation is to be applied to the values of multiple columns of a Pandas data frame the `applymap` method is used. The code in the cell below computes the natural log of several numeric columns. The transformed values are saved in the original columns using the `loc` method. Run this code and examine the results.

In [17]:
import math
cols = ['wheel-base', 'curb-weight', 'horsepower', 'price', 'curb-weight-kg']
df_2.loc[:, cols] = df_2[cols].applymap(lambda x: math.log(x))
df_2

  drive-wheels  wheel-base  curb-weight  horsepower      price  curb-weight-kg
3          fwd    4.603168     7.756623    4.624973   9.543235        6.965896
4          4wd    4.599152     7.945910    4.744932   9.767095        7.155182
5          fwd    4.603168     7.826842    4.700480   9.632335        7.036115
6          fwd    4.661551     7.952967    4.700480   9.781885        7.162239
7          fwd    4.661551     7.990915    4.700480   9.847975        7.200188
8          fwd    4.661551     8.034631    4.941642  10.080587        7.243904

These results are as expected.

### The apply, applymap and map methods

You can use the  Pandas `apply` method to compute agregations of values in the columns in a data frame. You have already met the `applymap` method. There is also the `map` method for series. These methods are related but different:

- **`apply`** iterates over the columns of a data frame and computes the agregated result of the funcation applied to all values in a column.
- **`applymap`** iterates over the columns of a data frame and computes a result for each value of the column.
- **`map`** is similar to `applymap` but it operates on the values of a series. 

The code in the cell below computes the sum of several numeric columns. Run this code and examine the results.

In [18]:
auto_prices[['wheel-base', 'curb-weight', 'horsepower', 'price']].apply(lambda x : sum(x))

wheel-base       19284.8
curb-weight     499005.0
horsepower       20138.0
price          2583363.0
dtype: float64

Recall that a single column selected from a data frame is a Pandas series. The code in the cell below selects a single column from the data frame, computes the natural log of the values and prints the fist 10 values (a missing value is skipped). Execute this code and examine the result.

In [19]:
import math
log_price = auto_prices['price'].map(lambda x : math.log(x))
log_price[:10]

0      9.510075
1      9.711116
2      9.711116
3      9.543235
4      9.767095
5      9.632335
6      9.781885
7      9.847975
8     10.080587
10     9.706864
Name: price, dtype: float64

**Your Turn:** In the cell below, create and execute code to compute the variance of the wheel base and curb weight columns using the `numpy.var` method.

## Chaining Pandas methods

Up until now you have only used one Pandas method at a time. However, you can create complex chains of operations by chaining methods. The dot operator adds each method to the chain:

$$DataFrame.method\_1(arguments).method\_2(arguments)....$$

By chaining Pandas methods you can create complex data munging operations. However, a few words of caution are in order when chaining Pandas methods. Most importantly, make sure the schema output from a method is compatible with the input of the next method in the chain.

Jumping right in, the code in the cell below chains three Pandas methods to do the following: 
- Subset the data frame, using the `loc` method.
- Compute the natural log of the values, using the `applymap` method.
- Sort the rows by the natural log of the auto price, using the `sort_values` method.

That is quite a lot for one line of code. Execute this  code and check the result.

In [20]:
auto_prices.loc[auto_prices.make == 'audi', ['wheel-base', 'curb-weight', 'horsepower', 'price']].applymap(lambda x: math.log(x)).sort_values(by = 'price', axis = 0)

   wheel-base  curb-weight  horsepower      price
3    4.603168     7.756623    4.624973   9.543235
5    4.603168     7.826842    4.700480   9.632335
4    4.599152     7.945910    4.744932   9.767095
6    4.661551     7.952967    4.700480   9.781885
7    4.661551     7.990915    4.700480   9.847975
8    4.661551     8.034631    4.941642  10.080587

### Using groupby in Pandas chains

The Pandas `groupby` method enables compution of statistics for some columns aggregated by other columns in the data frame. The `groupby` mehods aggregaes a data frame by the values in a list of categorical columns. The order of the aggregation is given by the order of the columns labels in the list.

As an example, the code in the cell below does the following:

- Subset the data frame to three columns.
- Use the `groupby` method to order the cases first by body style and then by number of cylinders.
- Counts the number of cases in the groups.

Run this code and examine that results.

In [21]:
auto_prices[['body-style', 'num-of-cylinders', 'price']].groupby(['body-style', 'num-of-cylinders']).count()

                              price
body-style  num-of-cylinders
convertible eight                 1
            four                  4
            six                   1
hardtop     eight                 1
            five                  1
            four                  4
            six                   2
hatchback   four                 56
            six                   6
            three                 1
sedan       eight                 2
            five                  7
            four                 71
            six                  13
            twelve                1
wagon       five                  2
            four                 20
            six                   2

### Aggregation with groupby

As an other example, consider the code in the cell below which uses the Pandas `aggregate` method. This code performs the folliwng operations:

- Subsets the data frame to three columns.
- Groups the cases by the body style.
- Computes the mean of the cases using the `mean` method from the `numpy` package.
- Sorts the results in assending order by the mean price.

Run this code an exhamine the result.

In [22]:
import numpy as np
auto_prices.loc[:, ['body-style','curb-weight', 'price']].groupby(['body-style']).aggregate(np.mean).sort_values('price')

             curb-weight         price
body-style
hatchback    2315.063492   9763.984127
wagon        2792.791667  12500.166667
sedan        2625.893617  14459.755319
convertible  2801.666667  21890.500000
hardtop      2810.625000  22208.500000

**Your Turn:** In the cell below, create and execute the code to compute the mean of curb weight and price grouped by fuel type.